Screen {
    layout: vertical;
}

#notif-list {
    height: 1fr;
    background: $background;
}

.notif-item {
    height: auto;
    padding: 0;
}

ListItem {
    background: $background;
    padding: 1 1 0 1;
    border-bottom: solid $surface;
}

ListItem.-highlight {
    background: $surface;
}

#hint-bar {
    dock: bottom;
    height: 1;
    background: $surface;
    color: $text-muted;
    padding: 0 1;
}
